/**
 * 
 * Define breakpoints, 
 * for responsive behavior.
 * 
**/

$bp-tablets: 		1024px;
$bp-phones: 		600px;
$bp-small-phones-l: 480px;
$bp-small-phones-p: 410px;  



/* ==================================================================================================================== */
/*      TABLETS BREAKPOINT.                   	                                                                        */
/* ==================================================================================================================== */

@media screen and (max-width: bp-calculation($bp-tablets, "down")) {
	

	
	

	
}

@media screen and (max-width: 800px) and (orientation: landscape) {
	
}

@media screen and (max-width: 768px) and (orientation: portrait) {
	
}



/* ==================================================================================================================== */
/*      PHONES BREAKPOINT.                   	                                                                        */
/* ==================================================================================================================== */

@media screen and (max-width: bp-calculation($bp-tablets, "down")) {
	
	

}

@media screen and (max-width: bp-calculation($bp-tablets, "down")) and (orientation: landscape) {
	
}

@media screen and (max-width: $bp-phones) and (orientation: portrait) {

}



/* ==================================================================================================================== */
/*      SMALL PHONES BREAKPOINT.             	                                                                        */
/* ==================================================================================================================== */

@media screen and (max-width: $bp-small-phones-l) and (orientation: portrait) {
	
	
}