<section class="sidebar-data-holder">
    <div class="spinner" role="spinner"><div class="spinner-icon"></div></div>
    <nav class="main-nav pure-menu pure-menu-open">
        <button class="nav-control"><i class="icon-hamburguer"></i></button>
        {{partial "nav"}}
    </nav>
</section>